body.dark {
  background: #121212;
  color: white;
  transition: transform 10s ease-in-out;
}

.card {
  transition: all 0.2s ease;
}

.transition1 {
  transition: transform 10s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

body.dark .card {
  background: #1e1e1e;
  color: white;
  transition: transform 10s ease-in-out;
}
